@using Service
@using Service.Models
@inject AdminPService AdminPService
@inject TaskService TaskService
@inject NavigationManager Navigation
@namespace ModalsProject

@if (IsVisible)
{
    <div class="modal fade show" tabindex="-1" style="display: block;" aria-labelledby="assignTaskToMemberModal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Assign Tasks to Member</h5>
                    <button type="button" class="btn-close" @onclick="CloseModal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>Select Member</h6>
                    <select id="memberSelection" class="form-control" @bind="selectedMemberId">
                        <option value="">-- Select a Member --</option>
                        @foreach (var member in membersList)
                        {
                            <option value="@member.Email">@member.FirstName @member.LastName</option>
                        }
                    </select>

                    <h6 class="mt-3">Select Tasks</h6>
                    <div>
                        @foreach (var task in tasksList)
                        {
                            <!-- 
                                   @onchange="(e) => ToggleTaskSelection(e, task.Id)"/>
                                -->
                            <div class="form-check">
                                <InputCheckbox id="@task.Id" class="form-check-input"/>
                                              
                                <label class="form-check-label" for="@task.Id">
                                    @task.Title
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Close</button>
                    <button type="button" class="btn btn-primary" @onclick="AssignTasksToMember">Assign Tasks</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public EventCallback<bool> OnClose { get; set; }
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public ProjectDTO SelectedProject { get; set; }

    private string selectedMemberId;
    private List<UserDTO> membersList = new List<UserDTO>();
    private List<TaskDTO> tasksList = new List<TaskDTO>();
    private HashSet<int> selectedTaskIds = new HashSet<int>();

    protected override void OnInitialized()
    {
        LoadMembers();
        LoadTasks();
    }

    private void LoadMembers()
    {
        //membersList = TaskService.GetMembersOfProject(SelectedProject.Name);
    }

    private void LoadTasks()
    {
        tasksList = TaskService.GetTasks(SelectedProject.Name);
    }

    private void CloseModal()
    {
        ResetTaskSelections();
        OnClose.InvokeAsync(false);
    }

    private void AssignTasksToMember()
    {
        //var selectedTasks = tasksList.Where(t => selectedTaskIds.Contains(t.Id)).ToList();
        var selectedMember = membersList.FirstOrDefault(m => m.Email == selectedMemberId);

        //if (selectedMember != null && selectedTasks.Any())
        {
            //AdminPService.AssignTasksToMember(SelectedProject.Name, selectedMember.Email, selectedTasks);
        }

        CloseModal();
    }

    private void ToggleTaskSelection(ChangeEventArgs e, int taskId)
    {
        if (e.Value is bool isSelected)
        {
            if (isSelected)
            {
                selectedTaskIds.Add(taskId);
            }
            else
            {
                selectedTaskIds.Remove(taskId);
            }
        }
    }

    private void ResetTaskSelections()
    {
        selectedTaskIds.Clear();
        selectedMemberId = null;
    }

}
