@page "/project/options"
@inject NavigationManager Navigation
@inject AdminPService AdminPService
@rendermode InteractiveServer
@using ModalsProject
@using Service.Models

<link href="styles/styleProjectList.css" rel="stylesheet"/>
<h3>Project List</h3>

<div class="project-list-container">
    @if (projects != null && projects.Any())
    {
        <ul class="list-group">
            @foreach (var project in projects)
            {
                <li class="list-group-item">
                    <span>@project.Name</span>
                    <div class="button-container">
                        <button class="view-options-btn @GetButtonClass(project)"
                                @onclick="() => ShowProjectOptions(project)">View Options
                        </button>
                        <button class="btn-danger btn-sm" @onclick="() => RemoveProject(project)">Remove Project
                        </button>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <p>No projects available.</p>
    }
</div>

@if (selectedProject != null)
{
    <div class="project-options mt-3">
        <h5>@selectedProject.Name Options</h5>
        <button class="btn-create-task" @onclick="CreateTask">Create Task</button>
        <button class="btn-secondary" @onclick="ShowAddMembersModal">Add Members</button>
        <button class="btn-assign-task" @onclick="ShowAssignTaskToMemberModal">Assign Task to Member</button>
        <button class="btn-warning" @onclick="ShowTaskListModal">Task List</button>
    </div>
}

<AddTask IsVisible="@showCreateTaskModal" OnClose="CloseCreateTaskModal"/>
<AddMember IsVisible="@showAddMembersModal" OnClose="CloseAddMembersModal"/>
<AssignMtoT IsVisible="@showAssignTaskToMemberModal" OnClose="CloseAssignTaskToMemberModal"/>
<TaskList IsVisible="@showTaskListModal" OnClose="CloseTaskListModal"/>

@code {
    private List<ProjectDTO> projects = new List<ProjectDTO>();
    private ProjectDTO selectedProject;
    private bool showCreateTaskModal = false;
    private bool showAddMembersModal = false;
    private bool showAssignTaskToMemberModal = false;
    private bool showTaskListModal = false;

    protected override async Task OnInitializedAsync()
    {
        projects = AdminPService.GetAllProjects();
    }

    private void ShowProjectOptions(ProjectDTO project)
    {
        selectedProject = project;
    }

    private void CreateTask()
    {
        showCreateTaskModal = true;
    }

    private void ShowAddMembersModal()
    {
        showAddMembersModal = true;
    }

    private void ShowAssignTaskToMemberModal()
    {
        showAssignTaskToMemberModal = true;
    }

    private void ShowTaskListModal()
    {
        showTaskListModal = true;
    }

    private void CloseCreateTaskModal(bool isClosed)
    {
        showCreateTaskModal = isClosed;
    }

    private void CloseAddMembersModal(bool isClosed)
    {
        showAddMembersModal = isClosed;
    }

    private void CloseAssignTaskToMemberModal(bool isClosed)
    {
        showAssignTaskToMemberModal = isClosed;
    }

    private void CloseTaskListModal(bool isClosed)
    {
        showTaskListModal = isClosed;
    }

    private void RemoveProject(ProjectDTO project)
    {
        AdminPService.RemoveProject(project.Name);

        projects.Remove(project);

        if (selectedProject == project)
        {
            selectedProject = null;
        }
    }

    public string GetButtonClass(ProjectDTO project)
    {
        return selectedProject == project ? "selected" : "";
    }

}
